body,
html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #20232a;
  color: #fff;
}

/* 
 * Background colors 
 */
.blue-bg {
  background-color: #196fc2;
}

.dblue-bg {
  background-color: #004b91;
}

.logo-nav {
  color: #196fc2;
  font-weight: 600;
}

.wt-color {
  color: #ffffff;
}