/* 
 * Background colors 
 */
.light-bg {
  background-color: var(--light);
}

.dark-bg {
  background-color: var(--dark);
}

.dark-transp-bg {
  background-color: var(--dark-trasp);
}

.no-bg {
  background-color: #ffffff00;
}

.img-bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: center center;
}

.logo-nav {
  font-weight: var(--bold-font-weight);
  font-size: 1.5rem;
}

.navbar-nav a {
  color: var(--light);
  font-weight: var(--bold-font-weight);
  font-size: 1.1rem;
  padding-top: 5px;
  text-decoration: none;
  margin-left: 15px;
}

.navbar-nav a.activated {
  color: var(--primary);
}

.light-color {
  color: var(--light);
}

.dark-color {
  color: var(--dark);
}

.primary-color {
  color: var(--primary);
}

.full-height {
  height: 100vh;
  z-index: 0;
}

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

.profile-img {
  max-width: 50%;
}

.section-title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
}

.section-subtitle {
  font-size: 1rem;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: var(--primary);
  margin: 0 auto;
}

.box-shadow {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.author-img {
  max-width: 100%;
}

.footer {
  text-align: center;
  font-size: 1em;
  padding: 10px 0 10px 0;
  color: var(--dark);
  background-color: var(--primary);
  font-weight: var(--bold-font-weight);
}

.smaller {
  font-size: 0.5em;
}

.footer a {
  color: var(--dark);
  text-decoration: none;
}
