.main-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.subtitle-project {
  font-size: 2rem;
  font-weight: 500;
}

.overview-title {
  border-left: 5px solid var(--primary);
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.5rem;
}

.project-image {
  max-height: 50vh;
  max-width: 100%;
  display: block;
  margin: auto;
}

.project-link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
}

.project-link:hover {
  color: var(--light);
  font-weight: 500;
}

/*--------- Carousel css  --------------*/
.cust-carousel {
  margin-bottom: 50px;
}

.cust-carousel a.carousel-control-next {
  position: absolute;
  top: calc(102%);
  right: 0;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background-color: var(--primary);
}

.cust-carousel a.carousel-control-prev {
  position: absolute;
  top: calc(102%);
  right: 0;
  height: 15px;
  border-radius: 50%;
  width: 15px;
  background-color: var(--primary);
}

.cust-carousel div.carousel-indicators {
  position: absolute;
  top: calc(102%);
  right: 0;
}

.cust-carousel div.carousel-indicators button {
  background-color: var(--secondary-trasp);
}

.cust-carousel div.carousel-indicators button.active {
  background-color: var(--primary);
}
/*--------- End carousel settings --------------*/
