.title-about:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary);
  width: 100px;
  bottom: -12px;
}

.title-about {
  font-size: 2rem;
  position: relative;
  color: var(--dark);
}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

.custom-progress-bar {
  background-color: var(--secondary-trasp);
}

.custom-progress-bar div.progress-bar {
  background-color: var(--primary);
}
