/* HOME */


.home-sect {
  height: 100vh;
  background-color: var(--dark);
  align-items:center;
  text-align: center;
}

.home-title {
  position: absolute;
  padding-left: 20px;
  top: 33vh;
  right: 0;
  width: 100%;
  z-index: 10;
}

.home-title h1 {
  color: var(--light);
  font-size: 5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--light);
}

.intro-bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center top;
  opacity: 0.2;
  height: 100%;
  right: 0;
  top: 0;
}

 .background_1 {
  background-image: url('../../img/intro.jpg');
}