/* HOME */

.home-sect {
  height: 100vh;
  background-color: var(--dark);
  align-items: center;
  text-align: center;
}

.home-title {
  position: absolute;
  padding-left: 20px;
  top: 45vh;
  right: 0;
  width: 100%;
  z-index: 10;
}

.home-title h1 {
  color: var(--light);
  font-size: 5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.intro-bg {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  right: 0;
  top: 0;
}

@media only screen and (max-width: 500px) {
  .intro-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.4;
    height: 100%;
    right: 0;
    top: 0;
  }

  .home-title {
    position: absolute;
    padding-left: 20px;
    top: 25vh;
    right: 0;
    width: 100%;
    z-index: 10;
  }
}

@supports (-webkit-touch-callout: none) {
  .intro-bg {
    background-attachment: scroll;
    background-size: cover;
    opacity: 0.4;
    height: 100%;
    right: 0;
    top: 0;
  }
}
