/* HOME */

.home-sect {
  height: 100vh;
  background-color: var(--dark);
  align-items: center;
  text-align: center;
}

.home-title {
  position: absolute;
  padding-left: 20px;
  top: 33vh;
  right: 0;
  width: 100%;
  z-index: 10;
}

.home-title h1 {
  color: var(--light);
  font-size: 5rem;
}

.subtitle {
  font-size: 1.5rem;
}

.intro-bg {
  background-image: url("../../img/intro_2.JPG");
  background-position: center 20%;
  /* background-image: url("../../img/intro.jpg");
  background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.4;
  height: 100%;
  right: 0;
  top: 0;
}
