.large-padding {
  position: relative;
  padding: 8rem 0;
}

.overlay-mf {
  position: absolute;
  background-color: var(--secondary);
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.generic-bg {
  background-image: url("../../img/generic-bg.jpg");
  background-size: cover;
}

.title-author {
  font-size: 1.5rem;
  color: var(--light);
  font-weight: 700;
  text-transform: uppercase;
}
